@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Ubuntu&display=swap');




  /* FOOTER */
footer {
    background: #111111;
    color: #ffffff;
    position: sticky;
    
  }
  
  .footer-container {
    margin: auto;
    max-width: 90%;
    padding: 10px;
    text-align: center;
  }
  
  .footer-container img {
    max-width: 280px;
    max-height: 280px;
    margin: 20px;
  }
  
  .footer-container h3 {
    color: #EBBA32;
    font-size: 20px;
    text-align: center;
  }
  
  .footer-container .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
  }
  
  .row .quick li {
    list-style-type: none;
  }
  
  .row .quick a {
    text-decoration: none;
    color: #ffffff;
    line-height: 1.8;
  }
  
  .row .quick a:hover {
    color: #EBBA32;
  }
  
  .newsletter {
    text-align: center;
    max-width: 95%;
  }
  
  .newsletter input {
    max-width: 70%;
    margin: 5px 0px;
    padding: 5px;
    border-radius: 5px 0 0 5px;
  }
  .form-inline{
    display: flex;
  }
  
  .newsletter button {
    background: #EBBA32;
    color: #000000;
    border-radius: 0 5px 5px 0;
  
  }
  
  .follow-us span {
    padding: 13px;
    border-bottom: 1px dotted #333;
  }
  
  .follow-us span i {
    padding: 10px;
    font-size: 24px;
    
  }
  
  .follow-us span i:hover {
    color: #EBBA32;
  }
  
  .follow-us  p {
    padding: 15px;
  }
  


/* Desktop Size*/
@media (max-width:1024px) {

/* FOOTER */
.footer-container {
  margin: auto;
  max-width: 98%;
  padding: 10px;
  text-align: center;
}

.footer-container img {
  max-width: 250px;
  max-height: 250px;
}

.footer-container h3 {
  font-size: 17px;
}

.row .about-us p {
  font-size: 13px;
}

.row .quick a {
  font-size: 13px;
}

.newsletter input {
  max-width: 60%;
  margin: 5px 5px;
  padding: 5px;
}

.follow-us span i {
  font-size: 17px;
}

.follow-us p {
  font-size: 13px;
}
}

@media (max-width:768px) {   
    /* FOOTER */
    .footer-container .row {
      display: grid;
      grid-template-columns:  1fr;
      grid-gap: 20px;
    }
  }



