/* Section-1 Styling */
#section-1 .search-header h2 {
  font-size: 32px;
  margin: 50px 0;
  color: rgba(95, 89, 89, 1);
}

#section-1 .search-header {
  display: grid;
  grid-template-columns: 4fr 2fr;
}

#section-1 .search-header .search-by {
  display: flex;
  margin-top: 50px;
}

#section-1 .search-header .search-by select {
  padding: 15px 20px;
  margin: 5px;
  border-radius: 6px;
  border: 1px solid rgba(131, 131, 131, 1);
}

/* SEARCH BOX STYLING */
#section-1 .search-box {
  background: rgba(190, 157, 14, 0.25);
  padding: 35px;
  border-radius: 5px;
}

#section-1 .search-box input {
  border: none;
  padding: 10px;
  margin: 0 10px;
}

#section-1 .search-box button {
  border: none;
  padding: 10px 22px;
  background: rgba(248, 199, 63, 1);
  margin-left: 7px;
}

/* SECTION-2 STYLING */
#section-2 .yellow-grid {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 20px;
}

.yellow-grid .yellow-result .result-grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  border: 1px solid rgba(131, 131, 131, 1);
  margin: 30px 0;
  border-radius: 10px;
}

.yellow-result .result-grid .result-img {
  margin-right: 25px;
}

.result-grid .result-desc .desc-inner {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.result-desc .desc-inner .inner-1 span:first-child {
  padding: 7px;
  background: rgba(138, 0, 0, 1);
  margin-top: 10px;
  border-radius: 5px;
  color: #ffffff;
  margin-right: 10px;
}

.result-desc .desc-inner .inner-1 span:nth-child(2) {
  border: 1px solid rgba(131, 131, 131, 1);
  border-radius: 10px;
  padding: 7px;
}

.desc-inner .inner-1 span:nth-child(2) i {
  color: #42A81F;
}

.desc-inner .inner-1 h3 {
  margin-top: 13px;
}

.desc-inner .inner-1 p {
  color: rgba(10, 95, 174, 1);
   margin-bottom: 5px;
}

.desc-inner .inner-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 20px;
}

.result-grid .result-desc .inner-2 img {
  max-width: 40px;
  max-height: 40px;
  border-radius: 5px;
}

.result-desc .items {
  margin-top: 0;
  border-top: 1px solid rgba(131, 131, 131, 1);
  padding: 8px;
}

.result-desc .items span {
  padding-right: 25px;
  margin-right: 15px;
  font-size: 14px;
  border-right: 1px solid rgba(131, 131, 131, 1);
}

.result-desc .items span:nth-child(3) {
  border-right: none;
}

.yellow-grid .map {
  margin: 35px 0;
  max-width: 250px;
}